// Variables de color

$white: #fff;
$grey-light: #5dc2bd;
$grey-medium: #2c5e5b;
$grey-dark: #44283c;
$grey-button: #339b95;
$grey-footer: #bbbbbb;
$black-form: #311429;
$black: #000;
$egg: #efe5c3;
$red-pink: #c92f58;
$alert: #c51414;

// Variables para Font-family

$inconsolata: "Inconsolata";
$inter: "Inter";
$siroko: "Siroko-Heavy";

// Variables de tamaño tipográfico

$bug: 0.6em;
$fly: 0.75em;
$mouse: 0.9em;
$squirrel: 1.5em;
$cat: 2.25em;
